---
import { Bubble, type Bubbly } from '@component/Bubble';
import { Fish } from '@component/Fish';
import { randomInt, randomNumber } from '@util/numbers';

const NUM_BUBBLES = 30;

function generateBubble(): Bubbly {
  return {
    size: randomInt(15, 40) + 'px',
    x: randomInt(0, 90) + '%',
    delay: randomInt(-20, 10) + 's',
    duration: randomInt(10, 20) + 's',
    opacity: randomNumber(0.1, 0.5),
  };
}

const bubbles = Array.from({ length: NUM_BUBBLES }).map(generateBubble);
---

<div class="ocean flex-1">
  {bubbles.map((b) => <Bubble {...b} />)}
  <Fish />
</div>

<style>
  .ocean {
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, var(--theme-alt) 0%, var(--theme) 50%);
  }
</style>
