@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme: #6d17cb;
  --theme-alt: #2876f9;
  --accent: #ff7519;
  --accent-alt: #ffe460;
  --text: #fff;
}

body {
  @apply selection:bg-purple-500 selection:text-white;

  background-color: var(--theme);
  background: linear-gradient(0deg, var(--theme-alt) 0%, var(--theme) 100%);
  color: var(--text);
}

h1 {
  background-color: var(--accent);
  background-image: linear-gradient(90deg, var(--accent-alt), var(--accent));
  background-clip: text;
  color: transparent;
}
