@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme: #6d17cb;
  --theme-alt: #2876f9;
  --accent: #ff7519;
  --accent-alt: #ffe460;
  --text: #fff;
}

body {
  background-color: var(--theme);
  background: linear-gradient(0deg, var(--theme) 0%, var(--theme-alt) 50%);
  color: var(--text);
}

h1 {
  color: var(--accent);
}

.accent {
  color: var(--accent);
}
