---
import { Layout } from '@globals';
---

<Layout
  title="404 Not Found"
  description="This page does not exist"
  disableIndexing={true}
>
  <section class="flex-1 flex flex-col justify-between">
    <div class="mx-auto flex justify-center items-center flex-1 font-bold">
      <h1>404</h1>
    </div>
  </section>
</Layout>

<style>
  h1 {
    font-size: 40vw;
  }
</style>
