---
import { Paradise } from '@component/Paradise';

import { Layout } from '@globals';
---

<Layout title="Hello" ogTitle="CWF">
  <section class="flex-1 flex flex-col relative justify-center">
    <Paradise />
    <div class="mx-auto p-4 z-0 text-center">
      <p class="vcard">
        <span class="org">Clockwork Fish</span>
        is a design and development agency based in
        <span class="adr">
          <span class="locality">Toronto</span>,
          <span class="country-name">Canada</span>
        </span>
      </p>
    </div>
  </section>
</Layout>
