---
export interface Props {
  size: string;
  x: string;
  delay: string;
  duration: string;
  opacity: number;
}

const { size, x, delay, duration, opacity } = Astro.props as Props;
---

<div class="bubble"></div>

<style define:vars={{ size, x, delay, duration, opacity }}>
  div.bubble {
    width: var(--size);
    height: var(--size);
    left: var(--x);
    animation-delay: var(--delay);
    animation-duration: var(--duration);
    opacity: var(--opacity);
  }
</style>

<style is:global>
  .bubble {
    border-radius: 100%;
    position: absolute;
    background-color: white;
    bottom: -40px;
    animation: rise 15s ease-in-out infinite,
      sideways 4s ease-in-out infinite alternate;
  }
  @keyframes rise {
    0% {
      transform: translateY(0%);
      opacity: 0.2;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translateY(-120vh);
    }
  }

  @keyframes sideways {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 200px;
    }
  }
</style>
