---
import { Icon } from '@component/Icon';

import CwfIcon from '@icon/clockworkfish.svg';
---

<div class="fish">
  <Icon src={CwfIcon} alt="Clockwork Fish icon" />
</div>

<style>
  .fish {
    animation: swim 15s ease-in-out infinite reverse;
    position: absolute;
    right: -200px;
    top: 50%;
    margin-top: -150px;
    z-index: 100;
  }

  @keyframes swim {
    0% {
      transform: translate(0, 0); /* Starting position */
    }
    20% {
      transform: translate(
        calc(-50vw - 100px),
        0
      ); /* Animate to center of screen */
    }
    25% {
      transform: translate(
        calc(-50vw - 100px),
        0
      ); /* Stay at the center for 1 second */
    }
    35% {
      transform: translate(
        calc(-50vw - 100px),
        -20vh
      ); /* Animate up for 2 seconds */
    }
    50% {
      transform: translate(
        -25vw,
        15vh
      ); /* Animate bottom right for 3 seconds */
    }
    60% {
      transform: translate(
        -25vw,
        -20vh
      ); /* Animate up at right of the screen */
    }
    67% {
      transform: translate(-25vw, -20vh);
    }

    100% {
      transform: translate(
        calc(-100vw - 300px),
        0
      ); /* Animate past left past the screen */
    }
  }
</style>
